<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Shortlisted Ads</ion-title>
    <ion-buttons end>
      <button buttons-end ion-button clear (click)="gotoAddPostingsPage()">
                 Post Ad
            </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-list *ngIf="myFavtsPostData.length">
    <ion-item-divider color="light">
      Favourite Postings
    </ion-item-divider>
    <ion-buttons end>
      <button buttons-end ion-button clear large (click)="viewType = 'list'">
                <ion-icon name="list"></ion-icon>
            </button>
      <button buttons-end ion-button clear large (click)="viewType = 'grid'">
                  <ion-icon name="grid"></ion-icon>
            </button>
    </ion-buttons>
    <ion-item>
      <catalog-page [posts]="myFavtsPostData" [viewType]="viewType"></catalog-page>
    </ion-item>
  </ion-list>

  <ion-grid *ngIf="!myFavtsPostData.length">
    <ion-row>
      <ion-col>
        <div class="slide-zoom">
          <h2 class="slide-title">OMG Your shortlist is empty.</h2>
          <p>Add items to your wish list by going through our awesome range of products.</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
