<ion-grid *ngIf="viewType == 'grid'">
  <ion-row wrap>
    <ion-col width-50 no-padding *ngFor="let post of postsResult; let i = index">
      <ion-item>
        <ion-thumbnail item-bottom padding-bottom (click)="showProductDetails(post._id)">
          <img src="{{post.Product.Photos[0].ImageUrl}}">
        </ion-thumbnail>
        <h2>{{post.Title}}</h2>
        <p>{{post.Product.Description.Title}}</p>
        <p>Location: {{post.Location}}</p>
        <p>Price:{{post.Product.Description.Price}} </p>
        <div item-right (click)="favouritePost(i,post)">
          <ion-icon *ngIf="!post.isFav" name="heart-outline"></ion-icon>
          <ion-icon *ngIf="post.isFav" name="heart"></ion-icon>
        </div>
        <button ion-button (click)="goToOffersPage()">
            Offer
        </button>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-list *ngIf="viewType == 'list'">
  <ion-item *ngFor="let post of postsResult;let i = index" no-padding>
    <ion-thumbnail item-left *ngIf="post.Product.Photos.length" (click)="showProductDetails(post._id)">
      <img src="{{post.Product.Photos[0].ImageUrl}}">
    </ion-thumbnail>
    <h2>{{post.Title}}</h2>
    <p>{{post.Product.Description.Title}}</p>
    <p>Location: {{post.Location}}</p>
    <p>Price:{{post.Product.Description.Price}} </p>
    <div item-right (click)="favouritePost(i,post)">
      <ion-icon *ngIf="!post.isFav" name="heart-outline"></ion-icon>
      <ion-icon *ngIf="post.isFav" name="heart"></ion-icon>
    </div>
    <button ion-button item-right (click)="goToOffersPage(post.Product)">
            Offer
        </button>
  </ion-item>

</ion-list>
