<ion-header>
  <header-component></header-component>
</ion-header>
<ion-content>
  <ion-list >
    <ion-grid>
      <ion-row>
        <ion-col width-75>
          <ion-buttons>
            <button buttons-end ion-button clear (click)="openSortingMenu('list')">
                <ion-icon name="funnel"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
        <ion-col width-25>
          <ion-buttons end>
            <button buttons-end ion-button clear (click)="switchView(viewType)">
                <ion-icon name="list" *ngIf="viewType == 'list'"></ion-icon>
                <ion-icon name="grid" *ngIf="viewType == 'grid'"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <catalog-page [posts]="latestPosts" [viewType]="viewType"></catalog-page>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="200px">
    <ion-infinite-scroll-content  loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="gotoPostingAdPage()">
            <span class="button-inner">
              Post Ad
          </span>
     </button>
  </ion-fab>
</ion-content>
