<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Product</ion-title>
        <ion-buttons end>
            <button buttons-end ion-button (click)="isopen = !isopen">
                <ion-icon name="add"></ion-icon>
            </button>
            <button buttons-end ion-button (click)="editPost()">
                  <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content no-padding>
    <ion-card>
        <ion-slides [options]="mySlideOptions">
            <ion-slide *ngFor="let photo of post.Product.Photos">
                <img [src]="photo.ImageUrl">
            </ion-slide>
        </ion-slides>
        <img />
    </ion-card>
    <ion-card-content>
        <ion-icon text-right name="heart"></ion-icon>
        <ion-icon text-right ios="ios-share" md="md-share"></ion-icon>
    </ion-card-content>   
    <ion-card-content>
        <ion-grid>
            <ion-row>
                <ion-col width-50>
                    <p>
                        <ion-icon name="people" item-left></ion-icon> Offers Made :{{post.Offers.length}}
                    </p>
                </ion-col>
                <ion-col width-50 text-right>
                    <p>
                        <ion-icon name="eye" item-left></ion-icon>Views: {{post.Views.length}}
                    </p>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div>
            <ion-segment [(ngModel)]="pet">
                <ion-segment-button value="specifications">
                    SPECIFICATIONS
                </ion-segment-button>
                <ion-segment-button value="description">
                    DESCRIPTIONS
                </ion-segment-button>
            </ion-segment>
        </div>
        <div [ngSwitch]="pet">
            <ion-list *ngSwitchCase="'description'">
                <ion-item>
                    <ion-card-content>
                        <p wrap>Wait a minute. Wait a minute, Doc. Uhhh...<br> Are you telling me that you built a time machine...
                            out of a DeLorean?! Whoa. This is heavy.</p>
                    </ion-card-content>
                </ion-item>

            </ion-list>

            <ion-list *ngSwitchCase="'specifications'">
                <ion-item>
                    Located In
                    <p item-right>Hyderabad</p>
                </ion-item>
                <ion-item>
                    Located In
                    <p item-right>Hyderabad</p>
                </ion-item>
                <ion-item>
                    Located In
                    <p item-right>Hyderabad</p>
                </ion-item>
                <ion-item>
                    Located In
                    <p item-right>Hyderabad</p>
                </ion-item>
                <ion-item>
                    Located In
                    <p item-right>Hyderabad</p>
                </ion-item>
                <ion-item>
                    Located In
                    <p item-right>Hyderabad</p>
                </ion-item>
                <ion-item>
                    Located In
                    <p item-right>Hyderabad</p>
                </ion-item>
                <ion-item>
                    Located In
                    <p item-right>Hyderabad</p>
                </ion-item>
            </ion-list>
        </div>
    </ion-card-content>
    <ion-card-content no-padding>
        <ion-list-header>
            Similar Posts
        </ion-list-header>
        <ion-scroll scrollX="true">
            <ion-card *ngFor="let post of similarPosts">
                <ion-item no-padding>
                    <ion-thumbnail>
                        <img (click)="showDetails(post)" src="https://ionicframework.com/dist/preview-app/www/assets/img/card-madison.png">
                    </ion-thumbnail>
                    <h2 text-center>{{post.Title}}</h2>
                    <p text-center>{{post.Product.Description.Title}}</p>
                </ion-item>
            </ion-card>
        </ion-scroll>
    </ion-card-content>
</ion-content>