<ion-menu [content]="content">
  <ion-header>
    <ion-item>
      <h2 *ngIf="!isUserAuthenticated" (click)="gotoLoginPage()">
        Login/SignUp
        <span style="float:right;margin:0">
                <ion-icon name="arrow-forward" no-margin></ion-icon>               
       </span>
      </h2>
      <div *ngIf="isUserAuthenticated" (click)="gotoProfilePage()">
        <ion-avatar item-left>
          <img src="{{profile.Media.ImageUrl}}">
        </ion-avatar>
        <h2>
          {{currentUserName}}
          <span style="float:right;margin:0">
                <ion-icon name="arrow-forward"  no-margin></ion-icon>
       </span>
        </h2>
      </div>
    </ion-item>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.name"></ion-icon>
        {{p.title}}
      </button>
      <button *ngIf="isUserAuthenticated" ion-item (click)="logoff()">
        <ion-icon name="power"></ion-icon>
        Logoff
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>