<ion-header>
    <ion-navbar>
        <ion-title>Change Password</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitForm()" #newform="ngForm">
        <ion-list>
            <ion-item>
                <ion-label floating>Current Password</ion-label>
                <ion-input type="text" formControlName="CurrentPassword" name="currentpassword" required></ion-input>                 
            </ion-item>
            <ion-item *ngIf="INVALID_CURRENT_PASSWORD">
                <p ion-text color="danger">currentPassword already exists</p>
            </ion-item>
            <ion-item>
                <ion-label floating>New Password</ion-label>
                <ion-input type="text" formControlName="NewPassword" name="newpassword" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Confirm Password</ion-label>
                <ion-input type="password" formControlName="ConfPassword" name="confpassword" required></ion-input>
            </ion-item>
             <ion-item *ngIf="INVALID_INVALID_PASSWORD">
                <p ion-text color="danger">password is not maching with new password</p>
            </ion-item>
        </ion-list>
        <div padding>
            <button ion-button color="primary" block [disabled] = "!newform.form.valid">change Password</button>
        </div>
    </form>
   

</ion-content>